test.py
test.ipynb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

build/
dist/
.eggs/
*.egg-info/
.eggs/

pip-log.txt
pip-delete-this-directory.txt

# Jupyter
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log